<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
      href="../css/bootstrap.min.css" rel="stylesheet">

<style>
    .container {
        max-width: 560px;
    }
</style>
<title>Login</title>
</head>

<body>
<h2>Login</h2>
<form action="/user/loginProc" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit" class="btn btn-outline-primary" >Login</button>
</form>
<!-- 회원가입 URI로 이동하는 링크 -->
<a href="/user/join">회원가입</a>
<!-- 비밀번호 찾기 URI로 이동하는 링크 -->
<a href="/user/findPassword">비밀번호 찾기</a>

</body>
</html>