<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 중고거래</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- 헤더 -->
<header>
    <h1>도서 중고거래</h1>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="#">책 등록</a></li>
            <li><a href="#">내 도서</a></li>
            <li>
                <button
                        th:onclick="|location.href='@{/user/loginProc}'|" type="button" th:type="button"> 로그인
                </button>
            </li>
        </ul>
    </nav>
</header>

<!-- 푸터 -->
<footer>
    <p>&copy; 2024 도서 중고거래</p>
</footer>
</body>
</html>
